0x00-python-hello_world/10-linked_lists.c
0x00-python-hello_world/10-main.c
0x00-python-hello_world/main.py
0x00-python-hello_world/main.pyc
0x00-python-hello_world/next
0x00-python-hello_world/q
0x01-python-if_else_loops_functions/#lists.h#
0x01-python-if_else_loops_functions/10-main.py
0x01-python-if_else_loops_functions/101-main.py
0x01-python-if_else_loops_functions/11-main.py
0x01-python-if_else_loops_functions/12-main.py
0x01-python-if_else_loops_functions/7-main.py
0x01-python-if_else_loops_functions/8-main.py
0x01-python-if_else_loops_functions/9-main.py
0x01-python-if_else_loops_functions/__pycache__/


